* {
  float: none;
  background: #fff;
  color: #000;
}

body { font-size: 80%; }
/*
     FILE ARCHIVED ON 06:01:35 Jul 24, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:01:51 Mar 06, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.21
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.053
  cdx.remote: 0.05
  esindex: 0.007
  LoadShardBlock: 69.4 (3)
  PetaboxLoader3.datanode: 97.881 (4)
  load_resource: 1057.404
  PetaboxLoader3.resolve: 1008.001
*/