* {
  float: none;
  background: #fff;
  color: #000;
}

body { font-size: 80%; }
/*
     FILE ARCHIVED ON 03:24:01 Jul 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:08:10 Mar 06, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 81.143
  exclusion.robots: 0.109
  exclusion.robots.policy: 0.092
  cdx.remote: 0.086
  esindex: 0.014
  LoadShardBlock: 46.591 (3)
  PetaboxLoader3.datanode: 95.129 (4)
  load_resource: 92.296
  PetaboxLoader3.resolve: 33.349
*/